<link href="https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap" rel="stylesheet">

<link rel="stylesheet" href="mainpage.css">
<p>Reminder</p>

<body>
    <form method="POST" action="/done">
        <div>
            <label for="Name"></label>
            <input type="text" name="name" class="form" placeholder="Name" required id="name">
        </div>

        <div>
            <label for="email"></label>
            <input type="email" name="email" class="form" placeholder="example@host.com" required id="email"> 
        </div>

        <div>
            <label for="text"></label>
            <input type="text" name="mobile" class="form" placeholder="+91 0000000000" required id = "text"> 
        </div>

        <button id="button">Submit</button>
    </form>

</body>